{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"> 
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block title %}Compteur{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .link1{padding: 10px 15px;
            border-radius: 4px;
            background-color: #000033;
            padding: 12px 20px;
            color: #deeaee;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            }
    .link2{padding: 10px 15px;
            border-radius: 4px;
            position: relative;
            left: 2em;
            background-color: #000033;
            padding: 12px 20px;
            color: #deeaee;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            }

    a:link, a:hover {
        text-decoration: none;
        color: #00b33c;      
    }
    
    .imp{
        border-radius: 4px;
        position: relative;
        left: 10em;
        top: 2em;
    }

</style>
    <h1>Compteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compteur.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ compteur.numero }}</td>
            </tr>
        </tbody>
    </table>

    <div id="no_impression">
        <a class="link1" href="{{ path('compteur_index') }}">back to list</a>

        <a class="link2" href="{{ path('compteur_edit', {'id': compteur.id}) }}">edit</a>
    </div>

    <div id="no_impression">
        {{ include('compteur/_delete_form.html.twig') }}
    </div>
{% endblock %}
