{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">	
	<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
	<h1>Inscription</h1>

	{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-succes">Inscription</button>
	{{ form_end(form) }}
{% endblock %}